html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,
nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}


:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --gray-dark-color: #909090;
    --gray-light-color: #e0c0c0;
    --more-info-backgroud-color: #707170;
  
    /* Size */
    --padding: 10px;
  
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
    --font-microsmall: 1px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    background-color: var(--black-color);
    font-size:1px;
  }
  
  body {
    font-family: Roboto;
  }
  
  ul {
    list-style: none;
  }

  button,
  button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--white-color);
  }


  header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: var(--black-color);
    justify-content: space-between;
    color: var(--white-color);   
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--font-microsmall);
  }

  header .logo img {
    width: 100px;
    display: flex;
    align-items: center;  
  }


  header .menu  {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: var(--padding);
  }

  header .menu span {
    font-size: 15px;
  }

  header .icons {
    display: flex;
    align-items: center;
  }

  header .icons .fa-search {
    margin-right: var(--padding);
  }

  header .icons .fa-bell {
    margin-right: var(--padding);
  }

  header .icons img{
    width: 20px;
    height: 20px;
    margin-right: var(--padding);
  }
/* 
  .mainView {
    position: absolute;
  } */

  .mainView .backgroud_image {
    position: relative;
    z-index: 1;
  }

  .mainView .backgroud_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .mainView .mainview_info {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    max-width: 33%;
    margin-top: 10%;
    margin-left: 20px;
  }

  .mainView .mainview_info .video_description {
    display: flex;
    flex-direction: column;
  }

  .mainView .mainview_info .video_description img {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
  }

  .mainView .mainview_info .video_description .info {
    color: var(--white-color);
    font-size: 1.4px;
    margin-top: 15px;
  }

  .mainView .mainview_info .videobutton {
      display: flex;
      color: var(--white-color);
      margin-top: 15px;
  }

  .mainView .mainview_info .videobutton .play {
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: 5px;
  }

  .mainView .mainview_info .videobutton .play .playtxt {
    margin-left: 5px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 1.6px;
    font-weight: bold;
  }
  
  .mainView .mainview_info .videobutton .moreinfo {
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    background-color: rgba(170, 170, 170, .4);
    border-radius: 5px;
  }

  .mainView .mainview_info .videobutton .moreinfo .moreinfobtn {
    background-color: rgba(170, 170, 170, .4);
    color: var(--white-color);
  }

  .mainView .mainview_info .videobutton .moreinfo .moreinfotxt {
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 1.6px;
    font-weight: bold;
    margin-left: 5px;
  }

  .mainView .mainview_info .koreadrama {
    position: relative;
    z-index: 10;
    margin-top: 80px;
  }

  .mainView .mainview_info .koreadrama .txt {
    color: var(--white-color);
    font-weight: 900;
    font-size: var(--font-micro);
  }

  .mainView .mainview_info .koreadrama .koreadramaimage {
    display: flex;
    margin-top: 10px;
  }

  .mainView .mainview_info .koreadrama .koreadramaimage img:hover {
    transform: scale(2);
    transition: 1s;
  }

  .mainView .mainview_info .koreadrama .koreadramaimage img {
    max-width: 47%;
    border-radius: 1px;
    padding: 1px;
  }

  .mainView .mainview_info .newcontents {
    margin-top: 15px;
  }

  .mainView .mainview_info .newcontents .txt {
    color: var(--white-color);
    font-weight: 900;
    font-size: var(--font-micro);
  }

  .mainView .mainview_info .newcontents .newcontentsimage {
    display: flex;
    margin-top: 10px;
  }

  .mainView .mainview_info .newcontents .newcontentsimage img:hover {
    transform: scale(2);
    transition: 1s;
  }

  .mainView .mainview_info .newcontents .newcontentsimage img {
    max-width: 47%;
    border-radius: 1px;
    padding: 1px;
  }

  .mainView .mainview_info .koreamovie {
    margin-top: 15px;
  }

  .mainView .mainview_info .koreamovie .txt {
    color: var(--white-color);
    font-weight: 900;
    font-size: var(--font-micro);
  }

  .mainView .mainview_info .koreamovie .koreamovieimage {
    display: flex;
    margin-top: 10px;
  }

  .mainView .mainview_info .koreamovie .koreamovieimage img:hover {
    transform: scale(2);
    transition: 1s;
  }

  .mainView .mainview_info .koreamovie .koreamovieimage img {
    max-width: 47%;
    border-radius: 1px;
    padding: 1px;
  }

  .mainView .mainview_info .usaseries {
    margin-top: 15px;
  }

  .mainView .mainview_info .usaseries .txt {
    color: var(--white-color);
    font-weight: 900;
    font-size: var(--font-micro);
  }

  .mainView .mainview_info .usaseries .usaseriesimage {
    display: flex;
    margin-top: 10px;
  }

  .mainView .mainview_info .usaseries .usaseriesimage img:hover {
    transform: scale(2);
    transition: 1s;
  }

  .mainView .mainview_info .usaseries .usaseriesimage img {
    max-width: 47%;
    border-radius: 1px;
    padding: 1px;
  }